@import "./variables.scss";

@mixin search-bar-size {
  display: flex;
  height: 48px;
  width: 458px;
}

@mixin navigation-searchbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 400px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 401px) and (max-width: 768px) {
      @content;
    }
  } @else if $class == ipad-portrait {
    @media (min-width: 769px) and (max-width: 991px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin  standardTextStyles {
  font-family: $monseratFont;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

@mixin jokeText {
  font-family: $monseratFont;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $nightRider;
}

@mixin buttonGold {
  font-family: $monseratFont;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #cfb995;
}

@mixin bannerHeight {
  @include breakpoint(xs) {
    height: 190px;
  }
  @include breakpoint(sm) {
    height: 220px;
  }
  @include breakpoint(ipad-portrait) {
    height: 280px;
  }
  @include breakpoint(md) {
    height: 300px;
  }
  @include breakpoint(lg) {
    height: 320px;
  }
}

@mixin transparentButton {
  background-image: url("../components/bodyComponents/JokeContainer/JokeBox/images/path-copy-2.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: right;
  background-color: transparent;
  border: none;
  font-family: $monseratFont;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #cfb995;
  text-align: left;
  padding-left: 0;
}
