$menuTextColor: #ffffff;
$menuTextHoverColor: #fa923f;
$navbarBackgroundColor: #303030;
$menuButtonBackgroundColor:  #cfb995;
$monseratFont: 'Montserrat', sans-serif;
$placeholderTextColor: #b2b2b2;
$weirdGreen: #3ae57f;
$nightRider: #303030;