.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.side-drawer {
  height: 100%;
  background: #303030;
  -webkit-box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.side-drawer.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
  -webkit-padding-end: 1em;
          padding-inline-end: 1em;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}

.side-drawer a:hover, .side-drawer a:active {
  color: #fa923f;
}

.logo-list-element {
  padding-bottom: 2em;
}

.link-list-element {
  border-bottom: 1px solid wheat;
  padding-bottom: 0.5em;
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  width: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 4rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 1px;
  background: #ffffff;
}

@media (min-width: 769px) {
  .toggle-button {
    display: none;
  }
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #303030;
  height: 60px;
  z-index: 200;
}

.toolbar_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.toolbar_logo {
  margin-left: 6%;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.toolbar_navigation_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1px;
}

.toolbar_navigation_items li {
  padding: 0 0.5rem;
}

.toolbar_navigation_items ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.toolbar_navigation_items a:hover, .toolbar_navigation_items a:active {
  color: #fa923f;
}

.dropdown_button {
  margin-right: 6%;
}

.mobileSearchBar {
  display: none;
}

.smallLogo {
  display: none;
}

@media (max-width: 768px) {
  .toolbar_navigation_items {
    display: none;
  }
  .mobileSearchBar {
    display: inline;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .smallLogo {
    margin-left: 6%;
    display: inline;
  }
  .toolbar_logo {
    display: none;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .spacer {
    display: none;
  }
}

.wrapper {
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-title {
  margin-left: 10%;
  width: 119px;
  height: 22px;
  border-radius: 11px;
  font-family: "Montserrat", sans-serif;
  background-color: #3ae57f;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.view-more-button {
  margin: 4rem 0;
}

.footer {
  height: 250px;
}
/*# sourceMappingURL=App.css.map */